@import "../variables.scss";

.playlist {
  @extend .flex-center;
  justify-content: space-between;
  margin: 3%;

  &__button {
    border-radius: 25px;
    height: inherit;
    border: none;
  }
}

@media screen and (max-width: 600px) {
  .playlist {
    &__text {
      font-size: 0.7rem;
    }
  }
}
