@import "../variables.scss";

.download {
  @extend .flex-space-between;
  margin-top: 7%;
  margin-bottom: 5%;
  width: calc(961.67 * 100vw / 1125);
  height: calc(80 * 100vw / 1125);

  &__text {
    font-size: 0.8rem;
    margin-left: 3%;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 35%;
    height: 80%;
    &--toggle {
      background-color: rgb(65, 65, 65);
      border-radius: 25px;
      width: inherit;
      height: inherit;
      cursor: pointer;
      transition: 0.2s;
      position: relative;
    }

    &--toggle:before {
      position: absolute;
      top: -20%;
      content: "";
      width: 60%;
      height: 150%;
      border-radius: 50%;
      background-color: rgb(168, 168, 168);
      transition: 0.2s;
    }

    input:checked + &--toggle::before {
      transform: translateX(70%);
    }

    input {
      display: none;
    }
  }
}
