/* 가운데 위치하며, 3가지레이아웃을 위한 바탕 */
.bg {
  width: 100vw;
  height: calc(100vw * 2436 / 1125);
  margin: 0 auto;
  position: relative;
}

/* 첫번쨰 레이아웃, 검정색으로 구성됨 */
.bg .bg__group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(80, 80, 80);
}

/* 두번쨰 레이아웃, 중앙에서부터 투명으로 흰색 */
.bg .bg__artwork-copy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  z-index: -1;
}

/* 밑에서부터 검정색으로, 위로갈수록 보라색느낌 */
.bg .bg__gradient-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    black 30%,
    rgb(196, 165, 193),
    transparent
  );
  z-index: -1;
}
