@import "variables";

.artist-name {
  @extend .flex-text;
  color: $artist-name-text;
  font-size: 0.7rem;
  //   background-color: yellowgreen;
  margin: calc(100vw / 1125 * 40) 0;
  height: calc(100vw / 1125 * 40);
}
