@import "variables";

.download {
  @extend .flex-space-between;
  margin-top: 7%;
  width: calc(961.67 * 100vw / 1125);
  height: calc(80 * 100vw / 1125);

  &__text {
    font-size: 0.8rem;
    margin-left: 3%;
  }

  &__button {
    @extend .flex-center;
    justify-content: flex-end;
    width: 30%;
    height: 80%;
    &--toggle {
      background-color: rgb(65, 65, 65);
      border-radius: 25px;
      width: inherit;
      height: inherit;
      cursor: pointer;
      transition: 0.2s;
      position: relative;
    }

    &--toggle:before {
      position: absolute;
      content: "";
      width: 65%;
      height: 115%;
      border-radius: 50%;
      background-color: rgb(168, 168, 168);
      transition: 0.2s;
    }

    input:checked + &--toggle::before {
      transform: translateX(90%);
    }

    input {
      display: none;
    }
  }
}
