@import "variables";

.play-button {
  @extend .flex-center;
  width: calc(100vw * 727.9 / 1125);
  height: calc(100vw / 1125 * 156.6);
  background: $general-buttom-color;
  border-radius: 2.5rem;
  border: none;
  cursor: pointer;

  &__text {
    color: $general-font-color;
    font-size: 0.8rem;
  }
}
